[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
split-folders = "*"
seaborn = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
